#pragma once
#include "MRuntime/Core/Meta/Reflection/Reflection.hpp"
#include "Generated/Serializer/all_serializer.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace MiniEngine{
namespace Reflection{
    void TypeMetaRegister::MetaRegister(){
{{#class_defines}}TypeWrappersRegister::{{class_name}}();
{{/class_defines}}
    }
}
}